.TopBar {
    display: flex;
    flex-direction: row;
    background-color: #00adb5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 15px;
    padding: 10px;
    align-items: center;
    height: 8%;
}

.TopBar-button {
    padding-left: 15px;
    width: 10%;
}
.TopBar-avatar {
    padding-right: 15px;
}
