.MainPage {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(92% - 15px);
}

.MainPage-changerWidth {
    height: 100%;
    width: 5px;
    background: transparent;
    cursor: col-resize;
}
