.MessageBox {
    width: 20%;
    height: 100%;
}
.MessageBox-messagesList {
    height: 90%;
    overflow: auto;
}
.MessageBox-record {
    list-style: none;
}
.MessageBox-input {
    background: #222831;
}
